# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder
instance/

# Environment variables
.env

# macOS files
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Coverage / testing
.coverage
htmlcov/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/
